<div
    class="d-flex flex-column 
           justify-content-center align-items-center vh-100">
    <strong class ="text-center display-6">
        Bro what <span class="text-warning">happened</span>? <br/>
        Your Authentication <span class="text-danger">Failed</span>
    </strong>

    <img src="~/img/auth-failed.gif" class="w-50 h-50 mt-5"/>
</div>