

<div class="container-fluid
    d-flex flex-column justify-content-center align-items-center
    vh-100 text-center lh-1">
    <h1 class="display-4 border-bottom mb-3">Website Credits</h1>
    <div class="text-lg-start border border-white p-4">
        <p>Design: Oskar Niedźwiedzki</p>
        <p>Programming: Oskar Niedźwiedzki</p>
        <h4>Attributions</h4>
        <p>Background Image: <a class="text-decoration-none" href="https://www.freepik.com/free-photo/two-travelers-discovered-ruins-ancient-city-dense-forest-3d-illustration_15174550.htm#query=rpg%20background&position=12&from_view=keyword&track=ais">Image by liuzishan</a> on Freepik</p>
    </div>
</div>