@{
    ViewData["Title"] = "Home Page";
}
<!--First impression view, a little bit clunky but looks good and is still responsive
    Header is ideally in the middle, I had to disable pointer events, cause otherwise on smaller devices
    navbar toggler could not be clicked
-->
<div class="container-fluid position-absolute pe-none top-0
    d-flex flex-column justify-content-center align-items-center 
    vh-100 text-center">
    <h1 class="display-5">Welcome to Bot Managment System</h1>
    <p>Here you can add new cool stuff to your database... Or just check how everything is going</p>
</div>
